<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>4조 | I 들의 모임</title>

    <script>


        $(document).ready( function () {
           user_name();
        });



        function user_name() {
            $.ajax({
              type: "GET",
              url: "/names",
              data: {},
              success: function (response) {
                let all_name = response['name_lists']
                    let name_1 = all_name[0]['name']
                    let name_2 = all_name[1]['name']
                    let name_3 = all_name[2]['name']
                    let name_4 = all_name[3]['name']

                let temp_html_1 = `<a href="/team" class="rotate">
                                        <div class="card">
                                          <div class="front">
                                          </div>
                                          <div class="back">
                                            <ul>
                                              <li class="name">#4조</li>
                                              <li># ${name_1}</li>
                                              <li># ${name_2}</li>
                                              <li># ${name_3}</li>
                                              <li># ${name_4}</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </a>`
                $('#user_info').append(temp_html_1)
                user_info()
              }
            })
        }

        function user_info() {
            $.ajax({
              type: "GET",
              url: "/users",
              data: {},
              success: function (response) {
                let rows = response['user_tmi']
                for (let i = 0; i < rows.length; i++) {
                    let num = rows[i]['num']
                    let mbti = rows[i]['mbti']
                    let name = rows[i]['name']
                    let tmi = rows[i]['tmi']
                      let tmi_1 = tmi[0]
                      let tmi_2 = tmi[1]
                      let tmi_3 = tmi[2]


                    let temp_html_2 = `<a href="/users/${num}" class="rotate">
                                        <div class="card">
                                          <div class="front">
                                          </div>
                                          <div class="back">
                                            <ul>
                                              <li class="name"># ${name}</li>
                                              <li># ${tmi_1}</li>
                                              <li># ${tmi_2}</li>
                                              <li># ${tmi_3}</li>
                                              <li># ${mbti}</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </a>`

                    $('#user_info').append(temp_html_2)
                  }
                }
            })
        }


    </script>
  </head>
  <body>
    <header class="index-header"></header>
    <main class="index-main" id="user_info">
    </main>
  </body>
</html>
